* {
  margin: 0px;
  padding: 0px;
 
}
.wrap {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
}
html {
  scroll-behavior: smooth;
}
.background {
  position: absolute;
  top: max(5vh, 50px);
  left: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  display: grid;
  height: 95vh;
  max-height: calc(100% - 50px);
  width: 100vw;
  background: #cccccc;
}
body {
  overflow: hidden;
}
ul{
  list-style:none;
}
[class*="img-"] {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
} /* THANKS HPP */

/* Style all font awesome icons */
.fa {
  padding: 0px;
  font-size: 1rem;
  width: 16%;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Titillium Web', Helvetica, sans-serif;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: #ccffff;
}
.toptext {
  font-size: 1rem; 
  font-family: 'Titillium Web', Helvetica, sans-serif;  
}

.btn {
  border-radius: 10px;
  font-size: 1.2rem;
  text-align:center;
}

.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 5vh;
  min-height: 50px;
  background: #323232;
}
.left-bar {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 50%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.right-bar {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.right-bar ul{
  justify-content: space-around;
  display: flex;
}
a.fa{
  text-decoration: none;
  background: #323232;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}
.line{
  display: inline-block;
}
p,a,li,h2{
  font-family: 'Titillium Web', Helvetica, sans-serif;  
  
}
section{
  position: relative;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10px;
  padding-bottom: 10px;
  width:84vw;
}
.ov {
  padding: 40px;
}
.heading{
  width: 30%;
  min-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  border-radius: 10px;
  background: #888888;
}
.heading:hover {
    cursor: pointer;
}
.logo{
  position: relative;
  height: 50px;
  padding-left: 5%;
}   
.name{
  font-family: 'Titillium Web', Helvetica, sans-serif; 
  position: relative;
  font-size: 200%; 
  color: #FFFFFF;
  text-decoration: bold;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: min(3%, 18px);
  padding-right: min(3%; 18px);
}
.up, .down{
  font-family: 'Titillium Web', Helvetica, sans-serif; 
  position: relative;
  font-size: 200%; 
  color: #FFFFFF;
  text-decoration: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 20px;
}   
.text{
  font-family: 'Titillium Web', Helvetica, sans-serif;  
}
.title{
  position: relative;
  height: 15vh;
}
.dropdown-wrapper{
  position: absolute;
  top: 15vh;
  height: 95%;
  width: 100vw; 
}
h1{
  font-family: 'Titillium Web', Helvetica, sans-serif; 
  position: relative;
  padding-left: 8vw;
  font-size: 250%;
  text-decoration: underline;
}
.bullet-list{
  list-style: initial;
  padding-left: min(50px,10vw);
}
.back{
  max-height:min(22px,5vh);
  max-width: max-height;
  text-decoration: bold;
}
.back-text{
  font-family: 'Titillium Web', Helvetica, sans-serif;  
  font-size: 150%;
  text-decoration: none;
  color: black;
}
.back-wrap{
  position: relative;
  display: flex;
  padding-left: 2.5vw;
  padding-top: min(5px,2vh);
  padding-bottom: min(5px,2vh);
  height: min(25px,5vh);
  text-decoration: none;
  background: #a9a9a9;
}
.back-wrap:hover {
  background: #bbbbbb;
}
.back-text:hover {
  color: #7991b8;
}
.aligned-back{
  padding-left: 3vw; 
  margin-top: 5px;
}
.left-wrap{
  position: absolute;
  left:0%;
  top:0%;
  width: 45vw;
  padding-left:5vw;
}
.right-wrap{
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50vw;
}
.para{
  width: 100%;
  text-indent: 2em;
}
.extra-pics{
  position: absolute;
  top: 185vh;
  margin-top: 5vh;
  left: 0vw;
  width: 50vw;
  padding-left:25vw;
}
.two-img-box{
  width: 80vw; 
  height: 50vh;
  text-align: horizontal;  
}
.img-box-L{
  position: absolute;
  width: 40vw;
  left:10vw;
  text-align: center;
}
.img-box-R{
  position: absolute;
  width: 40vw;
  left: 55vw;
  text-align: center;
}
.two-img{
  width:90%;
  border-radius:5px;
  border: 2px solid black;
}
.large{
  font-size: 120%;
}
.tall{
  height: 65vh;
}
.video-box{
  margin-top: 5vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3px;
  border: 2px solid black;
}
.pic{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3px;
  border: 2px solid black;
}
.caption{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.squan-layout{
  margin-top: 5vh;
}
.squan-invalid, .squansim-home{
  margin-top: 10vh;
}
.link{
  text-decoration: bold;
  color: #8a94de;
}
.link:hover{
  color: #9edede;
}
